<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.genactiv.dailyagent</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/user/projects/genactiv-klaviyo/scripts/runner.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/user</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/user/projects/genactiv-klaviyo</string>

    <key>StandardOutPath</key>
    <string>/tmp/genactiv-dailyagent.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/genactiv-dailyagent.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
